<div class="container mt-2">
  <h2>My Heroes</h2>
    <input placeholder="Buscar heroe..."type="text" name="filter" class="form-control m-2" [(ngModel)]="filterValue">        
    <table class="table table-light">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let heroe of (heroes | filterheroe:filterValue)" [class.selected]="selectedId === heroe.id">
          <td>{{heroe.id}}</td>
          <td>
          <a [routerLink]="['/heroe', heroe.id]">
          <span> {{heroe.name}}</span></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>